// Colors
$accentColor: #f8fb05;
$specialBlack: #151514;
$specialWhite: #f5f5f5;
$buttonColor: #065635;
$specialGreen: #e0fddf;

// Fonts
$primaryFont: "Kumar One", cursive;
$secondaryFont: "Lato", sans-serif;
$logoFont: "Kumar One Outline", cursive;
