@import "./setup";
@import "./fontsAndColors";
@import "./mixins";

// GLOBAL STYLES START

* {
  // border: 1px solid lightcoral;
  font-size: 62.5%;
}

body {
  background: $specialWhite;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 6.8rem;
  font-weight: 400;
}

h2 {
  font-family: $primaryFont;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 0.21rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

h3 {
  @include h3Styles();
}

h4 {
  @include h4Styles();
}

// li {
//   font-size: 2rem;
// }

img {
  width: 100%;
}

p {
  font-family: $secondaryFont;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

button {
  font-family: $primaryFont;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  padding: 7px 12px 7px 12px;
  color: #f5f5f5;
  background: $buttonColor;
  border: 1px solid $buttonColor;
  text-transform: uppercase;
}

span {
  font-size: 2rem;
  font-weight: 700;
}

footer {
  height: 5vh;
  background: $specialBlack;
  color: $specialWhite;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0 30px 0;
  font-family: $secondaryFont;
  font-weight: 400;
  margin-top: 100px;
}

//GLOBAL STYLES END

//-----------------------------------MAIN PAGE START---
//-MAIN- HEADER START

.mainHeader {
  background-image: url(../assets/header-home.jpg);
  height: 100vh;
  @include headerStyles();
}

.mainHeader i {
  visibility: hidden;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerSofa {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.headerSofa img {
  width: 100%;
}

.logo {
  font-family: $logoFont;
  font-weight: 400;
  line-height: 6.4rem;
  font-size: 6.8rem;
  text-transform: uppercase;
  z-index: 3;
}

.navigation li {
  list-style-type: none;
}

.navigation {
  display: flex;
}

nav ul a {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $secondaryFont;
  color: $specialBlack;
  text-decoration: none;
  margin-left: 40px;
}

nav ul a:hover {
  border-bottom: 2px solid $accentColor;
}

// -MAIN- HEADER END

// -MAIN- NEW MATERIALS START

.materialsSection {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.materialContent > h2 p {
  width: 90%;
}

.materialsCombo {
  position: relative;
}

.materialsPic {
  z-index: 2;
  position: relative;
}

.materialsPic img {
  z-index: 3;
}

.materialContent {
  width: 70%;
}

.yellowBox {
  width: 100%;
  height: 100%;
  background: $accentColor;
  z-index: -1;
  position: absolute;
  top: 8px;
  left: -8px;
}

// -MAIN- NEW MATERIALS END

// -MAIN- GALLERY START

.gallery {
  background-color: $specialGreen;
  padding-top: 50px;
  padding-bottom: 50px;
}

.galleryContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
}

.box img {
  width: 100%;
}

.flexTest {
  display: flex;
}

// -MAIN- GALLERY END

// -MAIN- FEATURES START

.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.featureBox {
  width: 50%;
  display: flex;
}

// .icon{
//   width: 50%;
// }

.fas {
  font-size: 2.3rem;
  background: $accentColor;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.fab {
  font-size: 2.3rem;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: $buttonColor;
}

.featureBox h2 {
  margin: 0;
}

//-MAIN- FEATURES END

// -MAIN- READ MORE START

.readMore {
  display: flex;
  flex-wrap: wrap;
  background: $specialGreen;
  padding: 50px 0 50px 0;
}

.readBox {
  width: 50%;
}

.readBoxRight {
  display: flex;
  justify-content: flex-end;
}

.newLocationImage img {
  width: 85%;
}

.groupProgramsImage img {
  width: 85%;
}

// LEFT BOX IMAGE

.leftImageParent img {
  z-index: -1;
}

.leftImageParent {
  position: relative;
  z-index: 2;
}
// .readBox img {

//   object-fit: cover;
// }
.leftImageYellowBox {
  width: 85%;
  height: 90%;
  background-color: #f8fb05;
  z-index: -1;
  position: absolute;
  top: 5.1rem;
  right: 6.7rem;
}

// RIGHT BOX IMAGE

.rightImageParent img {
  z-index: -1;
  margin-left: 15%;
}

.rightImageParent {
  position: relative;
  z-index: 2;
}

.rightImageYellowBox {
  width: 85%;
  height: 62%;
  background-color: #f8fb05;
  z-index: -1;
  position: absolute;
  top: 5.1rem;
  right: 2.7rem;
}

// .leftImageYellowBox {
//   width: 100%;
//   height: 100%;
//   background-color: $accentColor;
//   z-index: -1;
//   position: absolute;
// }

.newLocationsText {
  text-align: right;
}

.newLocationsText {
  padding: 40px;
}

.groupProgramsText {
  padding: 40px;
}

//-MAIN- READ MORE END

//-MAIN- BOTTOM BANNER IMAGE START

.bottomBannerImage {
  display: flex;
  background-size: contain;
  margin-bottom: 100px;
}

.bottomBannerImage img {
  width: 100%;
}
//-MAIN- BOTTOM BANNER END

//-MAIN- BOTTOM STYLE START

.bottomBanner {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomBannerText {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
}

// .bottomBanner h2,
// .bottomBanner p,
// .bottomBanner button {
//   // justify-content: center;
//   text-align: center;
// }

.bottomBanner p {
  width: 90%;
  text-align: left;
}

.bottomBanner button {
  margin: 0 auto;
}

//-MAIN- BOTTOM STYLE END
//-----------------------------------MAIN PAGE END---

//-----------------------------------BLOG PAGE START---
//-BLOG- HEADER START

.blogBody {
  background-color: $specialGreen;
}

.blogHeader {
  background-image: url(../assets/blog-image.jpg);
  height: 50vh;
  // display: flex;
  // flex-wrap: wrap;
  @include headerStyles();
  // justify-content: space-between;
}

.blogheaderTitle {
  display: flex;
  justify-content: space-between;
}

.blogTitleAndLogo {
  display: flex;
  flex-direction: column;
}

.blogTitleAndLogo h3 {
  margin-bottom: 63px;
}

.blogHeader i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  visibility: hidden;
}

//-BLOG- HEADER END

//-BLOG- BLOG AND SIDE BAR START

.blogAndSideBar {
  display: flex;
  justify-content: space-between;
  margin-top: -6rem;
}

.blogPost {
  width: 60%;
  background-color: $specialWhite;
  margin-bottom: 30px;
  border-bottom: 10px solid $accentColor;
  border-right: 10px solid $accentColor;
}

.blogDate {
  font-style: italic;
}
.blogPostText {
  padding-left: 20px;
}

.sideBar {
  width: 30%;
  background-color: $accentColor;
  position: relative;
  // height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sideBarText {
  top: 304px;
  padding: 10px;
}

.sideBarImage {
  width: 95%;
  margin-left: 2.3rem;
  margin-top: -2rem;
}

// .sideBarImage img {
//   position: absolute;
//   left: 14px;
//   top: -20px;
//   border: 1px solid black;
// }

.recentPostList li {
  font-size: 2rem;
  font-family: $secondaryFont;
  line-height: 3rem;
}
ul.recentPostList {
  padding-left: 2rem;
}
//-BLOG- BLOG AND SIDE BAR END

//-BLOG- COMMENTS START

.commentSection {
  width: 60%;
}

.commentContainer {
  display: flex;
  padding-top: 10px;
}

.commentText {
  width: 100%;
}

//-BLOG- COMMENTS END

//-BLOG- FORM START

.blogForm {
  font-size: 6rem;
  font-family: $secondaryFont;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

// input {
//   border: none;
//   border-bottom: 1px solid $buttonColor;
//   background-color: $specialGreen;
//   font-family: $secondaryFont;
//   text-transform: uppercase;
//   font-size: 2rem;
//   padding-top: 20px;
//   // width: 30%;
// }

.blogFieldSet input {
  border: none;
  border-bottom: 1px solid $buttonColor;
  background-color: $specialGreen;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  width: 30%;
}

.blogTextArea {
  border: 1px solid $buttonColor;
  background-color: $specialGreen;
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
  width: 60%;
}

.blogButton {
  width: 60%;
}

//-BLOG- FORM END
//-----------------------------------BLOG PAGE END---

//-----------------------------------CONTACT PAGE START---
//-CONTACT- HEADER START
.contactBody {
  background-color: $specialGreen;
}

.contactHeader {
  @include headerStyles();
  background-image: url(../assets/contact-image.jpg);
  height: 50vh;
}

.contactHeader i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  visibility: hidden;
}
//-CONTACT- HEADER END

//-CONTACT- FORM AND INFO START

.contactFormContainer {
  width: 60%;
  position: relative;
  top: -100px;
}

.contactFormContainer .textArea,
.contactButton {
  width: 100%;
}
.contactFormContainer .email {
  width: 50%;
}

.formAndInfo {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.contactFieldSet {
  background-color: $specialWhite;
  width: 100%;
  padding: 35px;
  // position: relative;
}

.contactTextArea {
  border: 1px solid $buttonColor;
  background-color: $specialWhite;
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.yellowBoxSibling {
  z-index: 2;
  position: absolute;
}

// .contactFieldSet .name,
// .contactEmail,
// .textArea {
//   background-color: $specialWhite;
// }

.contactFieldSet input {
  border: none;
  border-bottom: 1px solid $buttonColor;
  background-color: $specialWhite;
  font-family: $secondaryFont;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 20px;
}

.socialAndContactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.companyInfo p {
  margin: 0;
}

.companyEmail {
  padding-bottom: 20px;
}

.contactYellowBox {
  width: 100%;
  height: 100%;
  background-color: $accentColor;
  z-index: -1;
  position: absolute;
  top: 31px;
}
//-CONTACT- FORM AND INFO END

//-----------------------------------CONTACT PAGE END---

//-----------------------------------MEDIA QUERIES START
@media (max-width: 600px) {
  //-MAIN-MEDIA QUERIES START
  .mainHeader {
    height: 50vh;
    // width: 50vw;
  }

  .homePageLogo {
    line-height: 4rem;
    font-size: 2.8rem;
  }

  .mainHeader i {
    visibility: visible;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.5rem;
    background-color: transparent;
  }

  .headerSofa img,
  .materialsPic img {
    display: none;
  }

  h2 {
    text-align: center;
  }

  button {
    width: 100%;
  }

  .headerSofa {
    width: 0;
  }

  .materialContent {
    width: 100%;
  }

  .materialCombo {
    display: none;
  }

  .yellowBox {
    display: none;
  }

  .galleryContainer {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery {
    padding-bottom: 25px;
  }

  .features {
    flex-direction: column;
  }

  .featureBox {
    width: 100%;
  }

  .customizedOffers {
    text-align: left;
  }

  .readMore {
    flex-direction: column;
  }

  .readBox {
    width: 100%;
  }

  .groupProgramsImage img {
    width: 100%;
  }

  .newLocationImage {
    display: none;
  }

  .groupProgramsImage div {
    width: 100%;
  }

  .newLocationsText {
    text-align: left;
  }

  .readMore {
    padding: 0;
  }

  .leftImageYellowBox {
    display: none;
  }

  .bottomBanner {
    height: auto;
  }
  .bottomBanner button {
    width: 90%;
    margin: 0;
  }
  .bottomBannerImage {
    margin-bottom: 10px;
  }

  .bottomBannerText {
    width: 100%;
    height: auto;
  }
  //--BLOG- MEDIA QUERIES START
  .blogHeader i {
    visibility: visible;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.5rem;
    background-color: transparent;
  }
  .sideBar {
    display: none;
  }

  .blogAndSideBar {
    margin-top: 20px;
  }

  .blogPost {
    width: 100%;
    border: none;
  }

  h2 {
    font-size: 2.3rem;
    line-height: 3.8rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .commentSection,
  .blogTextArea {
    width: 100%;
  }

  .blogFieldSet input {
    width: 100%;
  }
  .blogButton {
    width: 100%;
  }
  //-BLOG- MEDIA QUERIES END
  //-CONTACT- MEDIA QUERIES START

  nav {
    display: none;
  }

  .contactHeader i {
    visibility: visible;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.5rem;
    background-color: transparent;
  }

  .logo {
    font-size: 5.8rem;
  }
  .contactFormContainer {
    top: 16px;
  }

  .formAndInfo {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .contactFormContainer {
    width: 100%;
    position: static;
    top: 0;
  }

  .contactYellowBox {
    display: none;
  }

  .yellowBoxSibling {
    z-index: 0;
    position: static;
  }
  .socialAndContactInfo {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contactFormContainer {
    width: 100%;
    position: static;
    top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contactFieldSet input {
    border: none;
    border-bottom: 1px solid #065635;
    background-color: #f5f5f5;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 20px;
    width: 100%;
  }

  footer {
    margin-top: 20px;
  }
}
//-CONTACT- MEDIA QUERIES END
